* {
    font-family: 'Poppins';
}
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 110px;

}


.login-card {
    background: white;
    height: 100%;
    width: 100%;
    max-width: 400px;
}

.register-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.register-form  {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-input,
.register-button {

    width: 100%;
    height: 56px;
    font-size: 1.1rem;
    box-sizing: border-box;
}


.register-input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: white;
    outline: none;

}

.register-button {
    margin-top: 10px;;
    padding: 15px;
    background-color: #382B73;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.register-button:hover {
    background-color: rgba(77, 69, 186, 0.46);
}




.error-message {
    margin-top: 15px;
    color: red;
    font-size: 1rem;
}

.other-link {
    margin-top: 20px;
    font-size: 1rem;
    text-align: left;
}

.other-link a {
    color: #382B73;
    text-decoration: none;
}

.other-link a:hover {
    color: rgba(77, 69, 186, 0.46);
}


.reset-link {
    margin-top: 20px;
    font-size: 1rem;
    text-align: left;
}

.reset-link a {
    color: #382B73;
    text-decoration: none;
}

.reset-link a:hover {
    text-decoration: underline;
}









